header {
  width: 100%;
  padding: 0.5vw 0 0.5vw 0;
  background-color: rgb(0, 0, 0, 0.2);
}
.trello-logo {
  width: 8vw;
  opacity: 0.4;
  margin-left: 30%;
}
.boards-button {
  color: black;
  width: 8vw;
  font-size: 1.5vw;
  margin-left: 2vw;
  padding: 0;
}
.home-logo {
  align-self: center;
  margin-left: 1vw;
}
.board-names,
.boards-button,
.home-logo {
  background-color: gray;
}
.Lists {
  display: flex;
  align-items: flex-start;
  padding: 2vw 1vw 1vw 1vw;
  overflow-x: auto;
  height: 75vh;
}
.List-box {
  background-color: #ebe9e9;
  min-width: 18vw;
  max-width: 18vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2%;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  margin-right: 2vw;
}
.list-header,
.list-header h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-title {
  border: none;
  background: transparent;
  font-size: 1vw;
  padding-left: 1vw;
}
.list {
  max-height: 21vw;
  overflow: scroll;
}
.add-card {
  color: gray;
}
.card {
  background-color: white;
  margin: 0 1vw 1vw 1vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card-title {
  font-size: 1vw;
  margin: 0;
}

.add-card-buttons {
  padding-left: 1vw;
}
.button-add {
  margin-right: 1vw;
}
.add-list {
  min-width: 10vw;
  max-width: 10vw;
  background-color: rgb(0, 0, 0, 0.2);
  color: rgb(213, 209, 209);
}
.Lists::-webkit-scrollbar,
.list::-webkit-scrollbar {
  display: none;
}
.add-card-form {
  min-width: 15vw;
  max-width: 15vw;
}
.check-list-added {
  margin: 1vw 0 1vw 0;
}
.check-list-buttons {
  display: flex;
  justify-content: space-between;
}
.add-checklist-item {
  width: 9vw;
  margin-right: 1vw;
}
.delete-checklist {
  padding: 0.2vw 0.5vw 0.2vw 0.5vw;
  margin-right: 0.2vw;
  width: 2vw;
}
.add-check-list-item-input {
  width: 20vw;
  margin-bottom: 2vw;
}
.styles_modal__gNwvD {
  width: 50vw;
}
.add-a-checklist {
  background-color: rgb(0, 0, 0, 0.2);
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
