body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(http://hdwarena.com/wp-content/uploads/2016/12/hd-lake-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
